.header{
  background: #282828;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  &__link{
    font-size: 32px;
    color: white;
    font-weight: 500;
    border-radius: 18px 0 18px 0;
  }
  &__menu{
    display: flex;
    column-gap: 32px;
    row-gap: 7px;
    margin-left: 75px;
    margin-right: auto;
    &-link{
      font-size: 18px;
      color: #9c9c9c;
      font-weight: 500;
      &:hover{
        color: orange;
      }
    }
  }
  &__icons{
    display: flex;
    align-items: center;
    column-gap: 10px;
    &-icon{
      color: #9c9c9c;
      font-size: 23px;
      &:hover{
        color: orange;
      }
    }
    &-icon3{
      color: #9c9c9c;
      font-size: 27px;
      cursor: pointer;
      &:hover{
        color: orange;
      }
    }
    &-span{
      color: white;
      cursor: pointer;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
  }
}