.product{
  margin: 15px 0 25px;
  &__info{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    column-gap: 32px;
    &-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-num{
      color: white;
      font-size: 20px;
    }
    &-icon{
      color: red;
    }
    &-sum{
      color: #9c9c9c;
      display: flex;
      align-items: center;
      column-gap: 8px;
      position: relative;
      font-size: 18px;
      &::before{
        content: '';
        position: absolute;
        width: 102%;
        height: 1px;
        top: 27px;
        right: 0;
        background: white;
      }
    }
    &-info{
      padding: 15px 25px;
      background: #282828;
      width: 60%;
    }
    &-img{
      width: 30%;
      border: #282828 solid 2px;
    }
    &-title{
      color: #282828;
      background: #9c9c9c;
      max-width: max-content;
      padding: 3px 10px;
      font-weight: 600;
      font-size: 20px;
    }
    &-subtitle{
      color: white;
      margin: 32px 0 15px;
      display: inline-block;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 105%;
        height: 1px;
        top: 22px;
        background: white;
      }
    }
    &-text{
      color: white;
      line-height: 175%;
    }
  }
  &__ava{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282828;
    img{
      margin-left: 10px;
      width: 8%;
      //border-radius: 50%;
    }
    &-info{
      padding: 5px 12px;
      width: 90%;
    }
    &-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title{
      color: white;
      font-size: 20px;
    }
    &-subtitle{
      color: white;
      font-size: 17px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 105%;
        height: 1px;
        top: 24px;
        right: 0;
        background: white;
      }
    }
    &-text{
      margin-top: 5px;
      color: #9c9c9c;
      font-size: 20px;
    }
  }
  &__nav{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  &__text{
    color: #9c9c9c;
    background: #282828;
    max-width: max-content;
    padding: 6px 20px;
    margin-left: 39px;
    margin-top: 15px;
    display: flex;
    column-gap: 18px;
    align-items: center;
    span{
      color: white;
      font-size: 19px;
    }
  }
  &__center{
    width: 90%;
    display: flex;
    background: #282828;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px 10px 0;
    &-nav{
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }
    img{
      margin-left: 10px;
      width: 10%;
    }
    &-input{
      width: 850px;
      outline: none;
      padding: 5px 10px;
      font-size: 18px;
      &::placeholder{
        font-size: 18px;
      }
      height: 130px;
    }
    &-left{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 8px;
    }
    &-btn{
      padding: 7px 36px;
      background: cornflowerblue;
      color: black;
      font-weight: 600;
    }
  }
}