.room{
  margin-bottom: 40px;
  padding: 12px 0 65px;
  &__row{
    display: flex;
    margin-top: 36px;
    justify-content: center;
  }
  &__form{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    height: 320px;
    &-ava{
      width: 30%;
      background: #282828;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 32px 12px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    &-img{
      border-radius: 50%;
      width: 65%;
    }
    &-row{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 32px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      background: #282828;
      padding: 32px 25px;
    }
    &-block1{
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }
    &-field2{
      margin-top: auto;
      color: #9c9c9c;
      border-bottom: #9c9c9c solid 2px;
      display: flex;
      width: 70%;
      align-items: center;
      justify-content: space-between;
    }
    &-input2{
      border: none;
      outline: none;
      width: 65%;
      background: transparent;
      color: cornflowerblue;
      font-size: 25px;
    }
    &-field{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 5px;
      width: 100%;
      border-bottom: #9c9c9c solid 2px;
    }
    &-label{
      width: 90%;
      color: #9c9c9c;
    }
    &-input{
      padding: 12px 10px 0;
      width: 90%;
      outline: none;
      background: transparent;
      border: none;
      font-size: 20px;
      color: cornflowerblue;
      &::placeholder{
        font-size: 20px;
        color: cornflowerblue;
      }
    }
    &-btn{
      margin-top: 10px;
      padding: 7px 38px;
      border-radius: 5px;
      background: #9c9c9c;
      font-size: 15px;
      color: #282828;
      font-weight: 600;
    }
    &-point{
      color: #9c9c9c;
      font-size: 17px;
    }
  }
}